   /*Hero*/
   #banner {
    background: linear-gradient(rgba(0,0,0,0.5), #009698), url("../images/Banner-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
   }

   /*Logo*/
   .logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 5%;
   }

   /*Banner Text*/
   .banner-text {
    text-align: center;
    color: #ffffff;
    padding-top: 180px;
   }
    .banner-text h1 {
font-size: 100px;
   }
   .banner-text p {
    font-size: 30px;
    font-style: italic;
   }